.gameboy__outer__shell {
	height: 90vh;
	background-color: rgb(116, 117, 113);
	border-radius: 35px;
	border-bottom-right-radius: 90px;
	-moz-box-shadow: inset 0 0 10px rgb(209, 194, 194);
	-webkit-box-shadow: inset 0 0 10px rgb(209, 194, 194);
	box-shadow: inset 0 0 10px rgb(209, 194, 194);
	width: 30vw; /* change later with media query */
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.gameboy__outer__shell__bigger {
	height: 90vh;
	background-color: rgb(116, 117, 113);
	border-radius: 35px;
	border-bottom-right-radius: 90px;
	-moz-box-shadow: inset 0 0 10px rgb(209, 194, 194);
	-webkit-box-shadow: inset 0 0 10px rgb(209, 194, 194);
	box-shadow: inset 0 0 10px rgb(209, 194, 194);
	width: 50vw; /* change later with media query */
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.gameboy__inner__shell {
	z-index: 1;

	height: 98%;
	width: 97%;
	background-color: rgb(180, 184, 176);
	border-radius: 35px;
	border-bottom-right-radius: 90px;
	-moz-box-shadow: inset 0 0 10px rgb(209, 194, 194);
	-webkit-box-shadow: inset 0 0 10px rgb(209, 194, 194);
	box-shadow: inset 0 0 10px rgb(209, 194, 194);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gameboy__upperhalf {
	margin-top: 3rem;
	height: 50%;
	width: 85%;
}
.gameboy__lowerhalf {
	margin-top: 10%;
	height: 50%;
	width: 85%;
	display: flex;
	flex-direction: row;
}
.gameboy__display__wrapper {
	width: 100%;
	border-radius: 35px;
	border-bottom-right-radius: 90px;
	box-shadow: inset 0 0 10px rgb(68, 66, 66);
	height: 100%;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}
.gameboy__display__circle {
	width: 5px;
	height: 5px;
	margin: 0px;
	background-color: rgb(43, 41, 41);
	border-radius: 50%;
}
.gameboy__display__borderwrapper {
	margin: 0 15px; /* if bugs with circle change 15 to auto */
	height: 80%;
	width: 70%;
	border: 5px solid;
	border-color: rgb(102, 99, 99) rgb(179, 175, 175) rgb(179, 175, 175)
		rgb(102, 99, 99);
	display: flex;
	align-content: center;
	justify-content: center;
}
.gameboy__start__borderwrapper {
	margin-top: 10px;
	border: 5px solid;
	border-color: rgb(102, 99, 99) rgb(179, 175, 175) rgb(179, 175, 175)
		rgb(102, 99, 99);
	display: flex;
	align-content: center;
	justify-content: center;
}
.gameboy__restart__borderwrapper {
	margin-top: 10px;
	border: 5px solid;
	border-color: rgb(102, 99, 99) rgb(179, 175, 175) rgb(179, 175, 175)
		rgb(102, 99, 99);
	display: flex;
	align-content: center;
	justify-content: center;
}
.gameboy__pause__borderwrapper {
	margin-top: 10px;
	border: 5px solid;
	border-color: rgb(102, 99, 99) rgb(179, 175, 175) rgb(179, 175, 175)
		rgb(102, 99, 99);
	display: flex;
	align-content: center;
	justify-content: center;
}
.gameboy__display {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 98.8%;
	width: 99%;
	background-color: rgb(89, 153, 29);
	border-width: 2px;
	border-style: solid;
	border-color: #494536;
}
.gameboy__display__top {
	background: transparent;
	width: 100%;
	height: 75%;
}
.gameboy__display__bottom {
	background-color: rgb(89, 153, 29);
	z-index: 2;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: black;
	width: 100%;
	height: 25%;
}

.gameboy__lowerhalf__left {
	height: 100%;
	width: 50%;
}
.gameboy__lowerhalf__left__top {
	height: 25%;
}
.gameboy__lowerhalf__left__bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 75%;
}
.gameboy__start__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.gameboy__restart__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.gameboy__buttons {
	display: flex;
	justify-content: space-evenly;
}
.gameboy__start {
	cursor: pointer;
	width: 40px;
	height: 40px;
	box-shadow: inset 0px -3px 2px black;
	border: 1px solid black;
	background-color: rgb(5, 170, 5);
	border-radius: 50%;
}

.gameboy__start__label {
	width: 100%;
	padding: 5px 10px 5px 10px;
	background-color: rgb(89, 153, 29);
	color: black;
	border-width: 2px;
	border-style: solid;
	border-color: #494536;
	text-align: center;
	font-size: 1.4rem;
}

.gameboy__restart__label {
	width: 100%;
	padding: 5px 10px 5px 10px;
	background-color: rgb(89, 153, 29);
	color: black;
	border-width: 2px;
	border-style: solid;
	border-color: #494536;
	text-align: center;
	font-size: 1.35rem;
}

.gameboy__pause__label {
	width: 100%;
	padding: 5px 10px 5px 10px;
	background-color: rgb(89, 153, 29);
	color: black;
	border-width: 2px;
	border-style: solid;
	border-color: #494536;
	text-align: center;
	font-size: 1.35rem;
}

.gameboy__start:hover {
	background-color: rgb(58, 155, 58);
}

.gameboy__start:active {
	background-color: rgb(58, 155, 58);
	outline: 0;
	box-shadow: inset 0 3px 2px rgb(0 0 0 / 80%);
}
.gameboy__start__active {
	cursor: pointer;
	width: 40px;
	height: 40px;
	box-shadow: inset 0px -3px 2px black;
	border: 1px solid black;
	border-radius: 50%;
	background-color: rgb(58, 155, 58);
	outline: 0;
	box-shadow: inset 0 3px 2px rgb(0 0 0 / 80%);
}
.gameboy__restart {
	cursor: pointer;
	width: 40px;
	height: 40px;
	box-shadow: inset 0px -3px 2px black;

	border: 1px solid black;
	background-color: rgb(170, 5, 5);
	border-radius: 50%;
}

.gameboy__restart:hover {
	background-color: rgb(194, 30, 30);
}

.gameboy__restart:active {
	background-color: rgb(194, 30, 30);
	outline: 0;
	box-shadow: inset 0 3px 2px rgb(0 0 0 / 80%);
}
.gameboy__restart__active {
	cursor: pointer;
	width: 40px;
	height: 40px;
	box-shadow: inset 0px -3px 2px black;

	border: 1px solid black;
	border-radius: 50%;
	background-color: rgb(194, 30, 30);
	outline: 0;
	box-shadow: inset 0 3px 2px rgb(0 0 0 / 80%);
}
.gameboy__pause__wrapper {
	height: 75%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.gameboy__pause {
	cursor: pointer;
	width: 150px;
	height: 150px;
	box-shadow: inset 0px -5px 5px black;

	border: 1px solid black;
	background-color: rgb(170, 5, 5);
	border-radius: 50%;
}

.gameboy__pause:hover {
	background-color: rgb(194, 30, 30);
}

.gameboy__pause:active {
	background-color: rgb(194, 30, 30);
	outline: 0;
	box-shadow: inset 0 10px 3px rgb(0 0 0 / 80%);
}
.gameboy__pause__active {
	cursor: pointer;
	width: 150px;
	height: 150px;
	box-shadow: inset 0px -5px 5px black;

	border: 1px solid black;
	border-radius: 50%;
	background-color: rgb(194, 30, 30);
	outline: 0;
	box-shadow: inset 0 10px 3px rgb(0 0 0 / 80%);
}
*:focus {
	outline: 0;
}
.gameboy__lowerhalf__right {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gameboy__controls__wrapper {
	width: 90%;
	height: 55%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.gameboy__controls__row1 {
	height: 33%;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.gameboy__controls__row2 {
	height: 33%;
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}
.gameboy__controls__row3 {
	height: 33%;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.gameboy__uparrow1 {
	cursor: pointer;
	width: 33%;
	height: 95%;
	box-shadow: inset 0px -5px 5px black;
	border: 1px solid black;
	background-color: rgb(170, 5, 5);
	border-radius: 50%;
}

.gameboy__uparrow1:hover {
	background-color: rgb(194, 30, 30);
}

.gameboy__uparrow1:active {
	background-color: rgb(194, 30, 30);
	outline: 0;
	box-shadow: inset 0 5px 8px rgb(0 0 0 / 80%);
}

.gameboy__uparrow1__active {
	cursor: pointer;
	width: 29%;
	height: 95%;
	box-shadow: inset 0px -5px 5px black;
	border: 1px solid black;
	border-radius: 50%;
	background-color: rgb(194, 30, 30);
	outline: 0;
	box-shadow: inset 0 5px 8px rgb(0 0 0 / 80%);
}

.gameboy__arrows__wrapper {
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.gameboy__arrows__row1 {
	height: 33%;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.gameboy__arrows__row2 {
	height: 33%;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.gameboy__arrows__row3 {
	height: 33%;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.gameboy__arrow__up {
	width: 10%;
	height: 0;
	padding-left: 10%;
	padding-bottom: 10%;
	overflow: hidden;
	border: none;
	background-color: transparent;
}
.gameboy__arrow__up::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-left: -500px;
	border-left: 500px solid transparent;
	border-right: 500px solid transparent;
	border-bottom: 500px solid black;
}
.gameboy__arrow__left {
	width: 10%;
	height: 0;
	padding-left: 10%;
	padding-bottom: 10%;
	overflow: hidden;
	border: none;
	background-color: transparent;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg); /* IE 9 */
	-moz-transform: rotate(-90deg); /* Firefox */
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-o-transform: rotate(-90deg); /* Opera */
}
.gameboy__arrow__left::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-left: -500px;
	border-left: 500px solid transparent;
	border-right: 500px solid transparent;
	border-bottom: 500px solid black;
}
.gameboy__arrow__right {
	width: 10%;
	height: 0;
	padding-left: 10%;
	padding-top: 10%;
	background-color: transparent;
	overflow: hidden;
	border: none;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg); /* IE 9 */
	-moz-transform: rotate(-90deg); /* Firefox */
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-o-transform: rotate(-90deg); /* Opera */
}
.gameboy__arrow__right::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-left: -500px;
	margin-top: -500px;
	border-left: 500px solid transparent;
	border-right: 500px solid transparent;
	border-top: 500px solid black;
	background-color: transparent;
}

.gameboy__arrow__down {
	width: 10%;
	height: 0;
	padding-left: 10%;
	padding-top: 10%;
	background-color: transparent;
	overflow: hidden;
	border: none;
}
.gameboy__arrow__down::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-left: -500px;
	margin-top: -500px;
	border-left: 500px solid transparent;
	border-right: 500px solid transparent;
	border-top: 500px solid black;
	background-color: transparent;
}
@media screen and (min-width: 1024px) {
	.gameboy__uparrow1 {
		width: 29%;
	}
}

@media screen and (max-width: 1867px) {
	.gameboy__outer__shell {
		width: 50vw; /* change later with media query */
	}
}

@media screen and (max-width: 1023px) {
	.gameboy__outer__shell {
		width: 100vw; /* change later with media query */
	}
	.gameboy__upperhalf {
		width: 90%;
	}
	.gameboy__display__borderwrapper {
		width: 65%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.gameboy__outer__shell {
		width: 70vw; /* change later with media query */
	}
}
@media screen and (min-width: 900px) and (max-width: 1867px) {
	.gameboy__outer__shell {
		width: 45vw; /* change later with media query */
	}
}
@media screen and (max-width: 320px) {
	.gameboy__pause {
		width: 100px;
		height: 100px; /* change later with media query */
	}
	.gameboy__pause__wrapper {
		height: 75%;
		margin-top: 20%;
	}
}
