@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.App {
	font-family: "VT323", monospace;
	background: #63856a; /* Old browsers */
	background: -moz-radial-gradient(
		center,
		ellipse cover,
		#63856a 1%,
		#3c5a40 100%
	); /* FF3.6+ */
	background: -webkit-gradient(
		radial,
		center center,
		0px,
		center center,
		100%,
		color-stop(1%, #63856a),
		color-stop(100%, #3c5a40)
	); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(
		center,
		ellipse cover,
		#63856a 1%,
		#3c5a40 100%
	); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(
		center,
		ellipse cover,
		#63856a 1%,
		#3c5a40 100%
	); /* Opera 12+ */
	background: -ms-radial-gradient(
		center,
		ellipse cover,
		#63856a 1%,
		#3c5a40 100%
	); /* IE10+ */
	background: radial-gradient(
		ellipse at center,
		#63856a 1%,
		#3c5a40 100%
	); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63856a', endColorstr='#3c5a40',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	height: 100vh;
	height: var(--app-height);
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	overflow: hidden;
}

.stars__wrapper {
	position: absolute;
	top: 1px;
}

::-webkit-scrollbar {
	display: none;
}

:root {
	--app-height: 100%;
}

html,
body {
	background-color: #282c34;
	margin: 0;

	padding: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	height: var(--app-height);
}
